@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
/*=================================
          Reset CSS
=================================*/
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  background-color: #0d1b2a;
  font-size: 2rem;
  vertical-align: center;
  padding: 20px;
  h1 {
    font-family: "Protest Guerrilla", sans-serif;
    color: white;
    text-align: center;
    text-decoration: underline;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15616d;
  height: 100%;
  flex: 1;
}
.gameboard {
  background-color: #e0e1dd;
  width: 600px;
  height: 600px;
  margin: 0 5rem;
  border: 1px solid #78290f;
}
.x-axis {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 5rem;
  width: 600px;
  background-color: red;
  height: 20px;
  text-align: center;

  span {
    display: inline-block;
    margin-left: 1px;
    height: 30px;
  }
}
.y-axis {
  text-align: center;
  display: grid;
  float: left;
  grid-template-rows: repeat(10, 1fr);
  margin: 0 3.8rem;
  height: 600px;
  background-color: red;
  width: 20px;
  span {
    display: inline-block;
    margin-left: 2px;
    border: 1px solid black;
  }
}
