@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
/*=================================
          Reset CSS
=================================*/
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  background-color: #0d1b2a;
  font-size: 2rem;
  vertical-align: center;
  padding: 20px;
  h1 {
    font-family: "Protest Guerrilla", sans-serif;
    color: white;
    text-align: center;
    text-decoration: underline;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15616d;
  height: 100%;
  flex: 1;
}
section {
  #gameBoard1 {
    margin-right: 5rem;
  }
}
.gameboard {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5eded;
  width: 500px;
  height: 500px;
  border: 1px solid #78290f;
  .cell {
    border: 1px solid #3d3b40;
    width: 10%;
    height: 10%;
  }
}
footer {
  font-size: 1.3rem;
  background-color: #0d1b2a;
  padding: 20px;
  text-align: center;
  color: rgb(194, 194, 194);
  vertical-align: center;
  a {
    text-decoration: none;
    color: rgb(143, 100, 100);
  }
}
